<div id="cts-reader" ng-controller="ctsReaderCtrl" class="box light">


	<!-- Tab buttons -->
	
	<div>
	<button
		id="list"
		class="button secondary small"
		ng-click="list()">
		List
	</button>
	
	<button
		id="text"
		class="button secondary small"
		ng-click="text()">
		Text
	</button>
	</div>
	
	
	<!-- Content -->
	
	<div class="content">
		
		<div class="tab loading">
			<img ng-src="img/loader.gif" />
		</div>
		
		<!-- The current text -->
		
		<div class="tab text">
			{{ cts.text }}
		</div>
		
		<!-- Build the list of texts -->
		
		<div class="tab list">
			<span>Showing {{ cts.shown }} of {{ cts.total }}</span>
			<div class="box" ng-repeat="text in filtered_list()">
				<a  ng-click="urn( text.urn )">
					{{ text.label }} - {{ text.urn }}
				</a>
				<div class="tags">{{ text.tag.join(', ') }}</div>
			</div>
		</div>
		
	</div>
</div>